<!DOCTYPE html> 
<html>
	<head>
		<meta charset="utf-8">		
		<title>{{title}}</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		
		<link rel="stylesheet" href="./css/menu.css">
		<link rel="stylesheet" href="./css/font-awesome.css">
		<link rel="stylesheet" href="./css/sky-mega-menu.css">
		
		<!--[if lt IE 9]>
			<link rel="stylesheet" href="css/sky-mega-menu-ie8.css">
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		
		<!--[if lt IE 10]>
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
			<script src="js/jquery.placeholder.min.js"></script>
		<![endif]-->
	</head>
	<body class="bg-cyan">
		<div class="body">		
			<!-- mega menu -->
			<ul class="sky-mega-menu sky-mega-menu-anim-scale sky-mega-menu-response-to-icons">
				<!-- home -->
				<li>
					<a href="#"><i class="fa fa-single fa-home"></i></a>
				</li>
				<!--/ home -->
				
				<!-- about -->
				<li aria-haspopup="true">
					<a href="#"><i class="fa fa-star"></i>Acerca de</a>
					<div class="grid-container3">
						<ul>
							<li><a href="#"><i class="fa fa-globe"></i>Misión</a></li>
							<li aria-haspopup="true">
								<a href="#"><i class="fa fa-group"></i>Nuestro Equipo</a>
								<div class="grid-container3">
									<ul>
										<li aria-haspopup="true">
											<a href="#"><i class="fa fa-male"></i>Rogelio Álvarez</a>
											<div class="grid-container3">
												<ul>
													<li><a href="https://www.facebook.com/roger.alvarez.1409"><i class="fa fa-leaf"></i>Acerca de</a></li>
													<li><a href="http://2.bp.blogspot.com/-l-_jRQedlYs/T5hNMzNBA0I/AAAAAAAABaA/mXwfQeGEUVI/s1600/Muggle.jpg"><i class="fa fa-tasks"></i>Habilidades</a></li>
													<li><a href="#"><i class="fa fa-comments"></i>Contactar</a></li>
												</ul>
											</div>
										</li>
										<li aria-haspopup="true">
											<a href="#"><i class="fa fa-male"></i>Bernardo Bolaños</a>
											<div class="grid-container3">
												<ul>
													<li><a href="https://www.facebook.com/bernardo.bolanos.9"><i class="fa fa-leaf"></i>Acerca de</a></li>
													<li><a href="http://wiki.erepublik.com/images/7/70/-Chuck_Norris-_01.jpg"><i class="fa fa-tasks"></i>Habilidades</a></li>
													<li><a href="#"><i class="fa fa-comments"></i>Contactar</a></li>
												</ul>
											</div>
										</li>
										<li aria-haspopup="true">
											<a href="#"><i class="fa fa-male"></i>Pablo Vinueza</a>
											<div class="grid-container3">
												<ul>
													<li><a href="https://www.facebook.com/pajovica2291"><i class="fa fa-leaf"></i>Acerca de</a></li>
													<li><a href="#"><i class="fa fa-tasks"></i>Habilidades</a></li>
													<li><a href="#"><i class="fa fa-comments"></i>Contactar</a></li>
												</ul>
											</div>
										</li>
										<li aria-haspopup="true">
											<a href="#"><i class="fa fa-male"></i>Eddy Ez</a>
											<div class="grid-container3">
												<ul>
													<li><a href="https://www.facebook.com/EddyEz1"><i class="fa fa-leaf"></i>Acerca de</a></li>
													<li><a href="http://1.bp.blogspot.com/-Eg-PVSUIO9Q/Uap6wG0K9lI/AAAAAAAAA6Y/bufkE-YtWwk/s1600/ni%C3%B1o+tocando+guitarra.jpg"><i class="fa fa-tasks"></i>Habilidades</a></li>
													<li><a href="#"><i class="fa fa-comments"></i>Contactar</a></li>
												</ul>
											</div>
										</li>
                                        <li aria-haspopup="true">
											<a href="#"><i class="fa fa-male"></i>Dave Barker</a>
											<div class="grid-container3">
												<ul>
													<li><a href="https://www.facebook.com/dave.schmid.e?fref=ts"><i class="fa fa-leaf"></i>Acerca de</a></li>
													<li><a href="http://elembarazo.net/wp-content/uploads/cafe.jpg"><i class="fa fa-tasks"></i>Habilidades</a></li>
													<li><a href="#"><i class="fa fa-comments"></i>Contactar</a></li>
												</ul>
											</div>
										</li>
									</li>
									</ul>
								</div>
							</li>
							<li><a href="#"><i class="fa fa-certificate"></i>Certificados</a></a></li>
						</ul>
					</div>
				</li>
				<!--/ about -->
				
				<!-- news -->
				<li aria-haspopup="true">
					<a href="#"><i class="fa fa-bullhorn"></i>Noticias</a>
					<div class="grid-container3">
						<ul>
							<li><a href="#"><i class="fa fa-check"></i>Compañia</a></li>
							<li><a href="#"><i class="fa fa-check"></i>Productos</a></li>
						</ul>
					</div>
				</li>
				<!--/ news -->
				
				<!-- portfolio -->
				<li aria-haspopup="true">
					<a href="#"><i class="fa fa-briefcase"></i>Portafolio</a>
					<div class="grid-container3">
						<ul>
							<li><a href="#"><i class="fa fa-lemon-o"></i>Logos</a></li>
							<li><a href="#"><i class="fa fa-globe"></i>Websites</a></li>
							<li><a href="#"><i class="fa fa-th-large"></i>Branding</a></li>
							<li><a href="#"><i class="fa fa-picture-o"></i>Illustrations</a></li>
						</ul>
					</div>
				</li class="right">
				<!--/ portfolio -->
				
				<!-- login form -->
				<li aria-haspopup="true" class="right">
					<a href="/login"><i class="fa fa-sign-in"></i>Login</a>
				</li>
				<!--/ login form -->
			</ul>
			<!--/ mega menu -->
		</div>
	</body>
</html>