<!DOCTYPE html>

<html>
  <head>
    <title>Agregar usuario</title>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>
<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

		<link rel="stylesheet" href="./css/demo.css">
		<link rel="stylesheet" href="./css/font-awesome.css">
		<link rel="stylesheet" href="./css/sky-forms.css">
        
        <!--[if lt IE 9]>
			<link rel="stylesheet" href="css/sky-forms-ie8.css">
		<![endif]-->
		
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.form.min.js"></script>
		<script src="js/jquery.validate.min.js"></script>
		<script src="js/jquery.modal.js"></script>
		<!--[if lt IE 10]>
			<script src="js/jquery.placeholder.min.js"></script>
		<![endif]-->		
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/sky-forms-ie8.js"></script>
		<![endif]-->

  </head>

  <body class="bg-cyan">
    ¿Ya tienes usuario? <a href="/login">Iniciar sesi&oacute;n</a><p>
    <h2>Crear usuario</h2>
    <form method="post">
      <table>

        <tr>
          <td class="label">
            Email
          </td>
          <td>
            <input type="text" name="email" value="{{email}}">
          </td>
          <td class="error">
           {{email_error}}
           {{username_error}}
          </td>
        </tr>
        
<!-- Comentario: login original de usuario, cambiado a email
        <tr>
          <td class="label">
            Nombre de usuario
          </td>
          <td>
            <input type="text" name="username" value="{{username}}">
          </td>
          <td class="error">
	           {{username_error}} 
          </td>
        </tr>
-->


        <tr>
          <td class="label">
            Contraseña
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
          <td class="error">
	         {{password_error}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Verificar contraseña
          </td>
          <td>
            <input type="password" name="verify" value="">
          </td>
          <td class="error">
	         {{verify_error}}
          </td>
        </tr>

      </table>

      <button type="submit" class="button">Enviar</button>
    </form>

  </body>

</html>
