<!DOCTYPE html>

<html>
  <head>
    <script src="./js/sorttable.js"></script>
    <title>Administración de Usuarios</title>
    
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>

  </head>

  <body>
    <p> <big>Bienvenido a Administración, {{email}}</big> </p>
    
<p>
  <ul>
  
  <li>
    <a href="/">Ir a la página principal</a>
  </li>

  <li>
    <a href="/logout">Cerrar sesión</a>
  </li>

</ul>


<table class="sortable">
<thead>
  <tr>
    <th>Correo Electrónico</th>
    <th>Apellido, Nombre</th>
    <th>Género</th>
    <th>Rol</th>
  </tr>
</thead>
<tbody>

{% for user in usuarios %}

  <tr>
    <td>{{user['_id']}}</td>
    <td>{{user['lastname']}}, {{user['firstname']}}</td>
    <td>{{user['gender']}}</td>
    <td>{{user['role']}}</td>
    
    <td>
      {{user['role']}}
    </td>
  

  </tr>

{% endfor %}

</tbody>
</table>

  </body>

</html>
