<!DOCTYPE html>

<html>
  <head>
  
		<link rel="stylesheet" href="./css/demo.css">
		<link rel="stylesheet" href="./css/font-awesome.css">
		<link rel="stylesheet" href="./css/sky-forms.css">
        
        <!--[if lt IE 9]>
			<link rel="stylesheet" href="css/sky-forms-ie8.css">
		<![endif]-->
		
		<script src="./js/jquery.min.js"></script>
		<script src="./js/jquery.form.min.js"></script>
		<script src="./js/jquery.validate.min.js"></script>
		<script src="./js/jquery.modal.js"></script>
		<!--[if lt IE 10]>
			<script src="js/jquery.placeholder.min.js"></script>
		<![endif]-->		
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/sky-forms-ie8.js"></script>
		<![endif]-->

    <title>Bienvenido, {{email}}</title>



    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>

   

  </head>

  <body class="bg-cyan">
    <p> <big>Bienvenido, {{email}}</big> </p>
<h2> Bienvenido!</h2>    
<p>
<ul>
  
  <li>
    <a href="/">Ir a la página principal</a>
  </li>

  <li>
    <a href="/useradmin">Administración de Usuarios</a>
  </li>

  <li>
    <a href="/logout">Cerrar sesión</a>
  </li>

</ul>
<!--
<li>
<a href="/newpost">Create a New Post</a>
</li>
-->

  </body>

</html>
