<!DOCTYPE html>

<html>
  <head>
    <title>Bienvenido, {{email}}</title>




    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    
    <link rel="stylesheet" href="./css/demo.css">
    <link rel="stylesheet" href="./css/font-awesome.css">
    <link rel="stylesheet" href="./css/sky-forms.css">
    <!--[if lt IE 9]>
      <link rel="stylesheet" href="css/sky-forms-ie8.css">
    <![endif]-->
    
    



    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>

  </head>

  <body>
    <p> <big>Bienvenido, {{email}}</big> </p>
    
<p>
<ul>
  
  <li>
    <a href="/">Ir a la página principal</a>
  </li>

  <li>
    <a href="/useradmin">Administración de Usuarios</a>
  </li>

  <li>
    <a href="/logout">Cerrar sesión</a>
  </li>

</ul>
<!--
<li>
<a href="/newpost">Create a New Post</a>
</li>
-->

  </body>

</html>
